/* Scaling */
/* Very small devices */
* { font-size: 4vw; }
.content {
    padding-left: 1em;
    padding-right: 1em;
}

/* Small devices */
@media screen and (min-width: 600px) {
    * { font-size: 3vw; }
    .content {
        padding-left: 1.25em;
        padding-right: 1.25em;
    }
}

/* Medium devices */
@media screen and (min-width: 768px) {
    * { font-size: 2vw; }
    .content {
        padding-left: 3em;
        padding-right: 3em;
    }
}

/* Large devices */
@media screen and (min-width: 992px) {
    * { font-size: 1.5vw; }
    .content {
        padding-left: 4em;
        padding-right: 4em;
    }
}

/* Very large devices */
@media screen and (min-width: 1200px) {
    * { font-size: 1.25vw; }
    .content {
        padding-left: 5em;
        padding-right: 5em;
    }
}

/* General */
body {
    font-family: Trebuchet MS, Arial Narrow, sans-serif;
    font-size: 1em;
    margin: 0em;
    padding-top: 2.07em;
}

img {
		max-width: 25%;
		height: auto;
}

/* Headers */
h1 { font-size: 2em; }
h2 { font-size: 1.571em; }
h3 { font-size: 1.429em; }
h4 { font-size: 1.286em; }
h5 { font-size: 1.143em; }
h6 { font-size: 1em; }

/* Article Info */
.publish-date p {
		font-size: .7em;
		font-color: #666666;
		display: inline;
}

.publish-date b {
		font-size: inherit;
}

.publish-date i {
		font-size: inherit;
}

/* Article List */
.article-list a:link {
		text-decoration: none;
		color: #555555;
}

.article-list a:hover {
		text-decoration: underline;
		color: #888888;
}

.article-list a:visited {
		text-decoration: none;
		font-style: italic;
		color: #555555;
}

.article-summary p {
		font-size: .7em;
		font-style: italic;
}
		
/* Article Content */

/* Nav Bar */
.hidden {
    display: none;
}

.stuck-to-top {
    position: fixed;
    width: 100%;
    top: 0;
		display: flex;
		flex-wrap: wrap;
}

#menu label {
		.
    border: .1em;
    font-size: 1.8em;
    font-weight: bolder;
    padding: .125em;
    background-color: #dddddd;
    display: block;
		width: 50%;
		float: right;
		text-align: right;
		flex: 1 1 50%;
}

#menu h4.title {
		background-color: #dddddd;
		float: left;
		margin: 0;
		padding: 0;
		flex: 1 1;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    display: none;
}

#menu li {
    float: left;
		flex-basis: 100%;
		width: 100%;
}

#menu a {
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    padding: .125em;
}

#menu a:hover {
    background-color: #eeeeee;
}

#menu li.active {
    background-color: #cccccc;
}
    
#menu-open:checked ~ ul {
		display: inline;
		width: 100%;
}

/* Menu Scaling */
@media only screen and (min-width: 600px) {
    #menu ul {
        display: inline;
				width: 75%;
    }
		#menu li {
				width: initial;
		}
    #menu label { display: none; }
    #menu a { padding: .5em; }
    #menu-open:checked ~ ul {
        display: inline;
 				width: 75%;
    }
		#menu-open:checked ~ h4.title {
				width: 25%;
		}
}