{% extends "base.html" %}
{% block title %}
  {{ article.title|truncate(30) }}
{% endblock %}

{% block content %}
<div class="article-info">
	<h1>{{ article.title }}</h1>
	<p class="publish-date">
		First Published: <b>{{ article.date.strftime("%B %d, %Y") }}</b>
	</p>
	{% if (article.modified - article.date).days > 0 %}
	  <p class="publish-date">
		  | <i>Last Modified:</i> <b>{{ article.modified.strftime("%B %d, %Y") }}</b>
	  </p>
	{% endif %}
</div>
<hr />
<div class="article-content">
	{{ article.content|safe }}
</div>
<hr/>
{% endblock %}
