<!DOCTYPE html>
<html lang="en">
	<head>
        {% block head %}
        <title>{% block title %}{{ page_title }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        {% endblock head %}
	</head>

	<body id="index" class="home">
        <nav id="menu">
          <div class="stuck-to-top">
						<h4 class="title"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h4>
            <input type="checkbox" id="menu-open" class="hidden">
            <label for="menu-open" onclick>≡</label>
            <ul>
							<li><a href="/plants/">Plants</a></li>
							<li><a href="/dev/">Development</a></li>
							<li><a href="/misc/">Miscellaneous</a></li>
							<li><a href="about_me.html">About Me</a></li>
            </ul>
          </div>
        </nav>
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
	</body>
</html>
