<!DOCTYPE html>
<html lang="en">
	<head>
        {% block head %}
        <title>{% block title %}{{ page_title }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
        {% endblock head %}
	</head>

	<body id="index" class="home">
        <nav id="menu">
          <div class="stuck-to-top">
						<h4 class="title"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h4>
            <input type="checkbox" id="menu-open" class="hidden">
            <label for="menu-open" onclick>≡</label>
            <ul>
              {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
              {% endfor %}
              {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in pages %}
                  <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </nav>
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
	</body>
</html>
